

.v-application .align-center{
    -webkit-box-align:unset!important;
    align-items:unset!important;
 }
 .theme--light.v-application{
    background: none;
 }
 .lighten-2 {
 max-height: 621px;
 }
 .v-image__image .v-image__image--cover{
 height: 622px;
 }
 .cartel{
      position: absolute;
 background: white;
 padding: 10px;
 margin-top: 217px;
 font-family: 'Roboto' , serif;
 }



 .v-application--wrap{
     min-height: 70vh;
     max-width: none;
 }