.v-avatar{
    background: pink;
  }
  .modal-backdrop{
    opacity: 0.5;
  
  }
  .modal-dialog{
        max-width: 838px;
  }


.v-dialog{
  overflow-y: inherit;
}
  #nombre{
    font-size: 1.15rem !important;
  }

  .card-deck{
  width:100%
  }
h5{
  margin:10px;
}
.contadorMedicos{
  font-family: 'Roboto Slab'; 
font-weight: bold;
}
.btn{
  margin: 0px;
}
.tituloFormu{
background-color: darkseagreen;
font-family: 'Roboto Slab'; 
font-weight: bold;
}
  #container{
    margin-right: -15px;
    margin-left: 15px;
  }